<h3> Hello, this is where you sign up. </h3>
<div ng-controller = "UsersController as user" class = "row">
	
	<h5 id = "notification-create" class = "blue"></h5>
	<h5 id = "notification-login" class = "green"></h5>
	<h5 id = "notification-error" class = "red"></h5>
	
	<div id = "sign-up" class = "col s6">
	<input type = "text" ng-model = "newUser.fullName" placeholder ="Full Name">
	<input type = "text" ng-model = "newUser.username" placeholder = "Username">
	<input type = "password" ng-model = "newUser.password" placeholder = "Password">
	<input type = "password" ng-model = "newUser.confirmPass" placeholder = "Confirm Password">
	<input type = "number" ng-model = "newUser.age" placeholder = "Age">
	<button ng-click = "user.addUser(newUser)"> Sign Up! </button>
	</div>

	<div id = "log-in" class = "col s6">
	<input type = "text" ng-model = "loggedIn.username" placeholder = "Username">
	<input type = "password" ng-model = "loggedIn.password" placeholder = "Password">
	<button ng-click = "user.loginUser(loggedIn)"> Log In! </button>
	</div>
</div>